rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow only authenticated content owners access
    match /book/{book} {
    	allow read: if true
      allow write: if true
    }
    match /cert/{cert} {
    	allow read, write: if true 
    }
    match /event/{event} {
    	allow read, write: if true 
    }
    match /exam/{exam} {
    	allow read, write: if true 
    }
    match /user/{user} {
    	allow read, write: if true 
    }
    match /notice/{notice} {
    	allow read, write: if true 
    }
  }
}